<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
        <!-- Title -->
        <title>
            浙江科技学院软件工程一流学科网
        </title>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{$Think.config.HOMETOOLS}img/favicon.ico"/>
        <!-- Stylesheets -->
        <link href="{$Think.config.HOMETOOLS}css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/fontello.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/flexslider.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{$Think.config.HOMETOOLS}css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/responsive-calendar.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/chosen.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}jackbox/css/jackbox.min.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/cloud-zoom.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/style.css" rel="stylesheet" type="text/css"/>
        <link href="{$Think.config.HOMETOOLS}css/demo.css" rel="stylesheet">
        <!-- Style -->
        <style type="text/css">
                .no-fouc {
                    display: none;
                }
            </style>
        <!-- JQuery -->
        <script src="{$Think.config.HOMETOOLS}js/jquery-1.11.0.min.js"></script>
        <script src="{$Think.config.HOMETOOLS}js/jquery-ui-1.10.4.min.js"></script>
        <script>
            $(function () {
                $('.tp-banner').revolution({
                    delay: 5000,
                    startheight: 420,
                    navigationType: "none",
                });
            });
        </script>
        <script>
            $(function() {

                $('#menu').metisMenu();

                $('#menu2').metisMenu({
                    toggle: false
                });

                $('#menu3').metisMenu({
                    doubleTapToGo: true
                });
            });
    </script>
    </head>
    <body class="sticky-header-on tablet-sticky-header">
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header id="header">
                <!-- Main Header -->
                <div id="main-header">
                    <div class="container">
                        <div class="row">
                            <!-- Logo -->
                            <div id="logo" class="col-lg-12 col-md-12 col-sm-12">
                                <a href="{$Think.config.GOTO}">
                                    <img src="{$Think.config.HOMETOOLS}img/logo.png" alt="Logo"/>
                                </a>
                            </div>
                            <!-- /Logo -->
                        </div>
                    </div>
                </div>
                <!-- /Main Header -->
                <!-- Lower Header -->
                <div id="lower-header">
                    <div class="container">
                        <div id="menu-button">
                            <div>
                                <span>
                                </span>
                                <span>
                                </span>
                                <span>
                                </span>
                            </div>
                            <span>
                                Menu
                            </span>
                        </div>
                        <ul id="navigation">
                            <li class="home-button current-menu-item">
                                <a href="{$Think.config.GOTO}">
                                    <i class="icons icon-home">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <span>
                                    <i class="icons icon-book">
                                    </i>
                                    学科介绍
                                </span>
                                <ul>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/1">
                                            一流学科
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/time">
                                            大事记
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>
                                    <i class="icons icon-thumbs-up">
                                    </i>
                                    学术研究
                                </span>
                                <ul>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/2">
                                            学科方向
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/3">
                                            学科团队
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages3/4">
                                            学科成果
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>
                                    <i class="icons icon-user">
                                    </i>
                                    人才培养
                                </span>
                                <ul>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/9">
                                            本科教育
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/10">
                                            研究生教育
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>
                                    <i class="icons icon-fire">
                                    </i>
                                    学生成果
                                </span>
                                <ul>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/11">
                                            项目介绍
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/12">
                                            竞赛介绍
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/13">
                                            竞赛获奖
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>
                                    <i class="icons icon-globe">
                                    </i>
                                    资源环境
                                </span>
                                <ul>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/14">
                                            硬件条件
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/15">
                                            校企合作
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{$Think.config.GOTO}Home/Student/showList/p/1">
                                    <i class="icons icon-group">
                                    </i>
                                    学子风采
                                </a>
                            </li>
                            <li>
                                <span>
                                    <i class="icons icon-comment">
                                    </i>
                                    招生就业
                                </span>
                                <ul>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassageslist">
                                            招生介绍
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/16">
                                            实习信息
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{$Think.config.GOTO}Home/Passages/showPassages/17">
                                            就业信息
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <!-- /Header -->
            <section id="content">
                <!-- Page Heading -->
                <section class="section page-heading animate-onscroll">
                    <p class="breadcrumb">
                        <a href="{$Think.config.GOTO}">
                            首页
                        </a>
                        ->
                        {$result['first']} ->
                        {$result['second']}
                    </p>
                </section>
                <!-- Page Heading -->
                <!-- Section -->
                <section class="section full-width-bg gray-bg">
                    <div class="row">
                        <!-- Sidebar -->
                        <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs sidebar">
                            <!-- /Featured Video -->                        <!--
                            Upcoming Events
                        -->
                        

                        <div class="sidebar-box white">
                            <div class="clearfix">
                    <aside class="sidebar">
                        <nav class="sidebar-nav">
                            <ul id="menu2">
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">学科介绍</b></a>
                                    <ul>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/1">一流学科</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/time">大事记</a></li>
                                       <!--  <li><a href="" target="_blank">onokumus</a></li>
                                        <li><a href="#">item 0.4</a></li> -->
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">学术研究</b></a>
                                    <ul>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/2">学科方向</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/3">学科团队</a></li>
                                        <li>
                                            <a href="#" style="padding-right: 7px;">学科成果<span class="icon-down-open arrow"></span></a>
                                            <ul>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassages3/4" style="font-size: 1em;">学科成果</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/5" style="font-size: 1em;">项目立项</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/6" style="font-size: 1em;">论文发表</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/7" style="font-size: 1em;">专著教材</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/8" style="font-size: 1em;">知识产权</a></li>
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">人才培养</b></a>
                                    <ul>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/9">本科教育</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/10">研究生教育</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">学生成果</b></a>
                                    <ul>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/11">项目介绍</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/12">竞赛介绍</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/13">竞赛获奖</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">资源环境</b></a>
                                    <ul>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/14">硬件条件</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/15">校企合作</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">学子风采</b></a>
                                    <ul>
                                        <li><a href="{$Think.config.GOTO}Home/Student/showList/p/1">学子风采</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="text-center"><b style="font-size:1.3em;">招生就业</b></a>
                                    <ul>
                                        <li>
                                            <a href="#" style="padding-right: 7px;">招生介绍<span class="icon-down-open arrow"></span></a>
                                            <ul>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassageslist" style="font-size: 1em;">招生介绍</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassageslist?type=0" style="font-size: 1em;">招生简章</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassageslist?type=1" style="font-size: 1em;">招生通知</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassageslist?type=2" style="font-size: 1em;">招生流程</a></li>
                                                <li><a href="{$Think.config.GOTO}Home/Passages/showPassageslist?type=3" style="font-size: 1em;">招生问答</a></li>
                                            </ul>
                                        </li>   
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/16">实习信息</a></li>
                                        <li><a href="{$Think.config.GOTO}Home/Passages/showPassages/17">就业信息</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    
                </div>
                        </div>
                    </div>
                    <!-- /Sidebar -->
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <!-- Single Blog Post -->
                        <div class="blog-post-single">
                            <h1 class="text-center">
                                {$result['title']}
                            </h1>
                            <div class="post-content">
                                <p class="animate-onscroll">
                                    {$result['content']}
                                </p>
                            </div>
                            <!-- Pagination -->
                            <!--<div class="row animate-onscroll">-->
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 button-pagination align-left">-->
                            <!--<a href="{$Think.config.GOTO}Home/Passages/showPassages/{$result['pre']}"-->
                            <!--class="button big previous">上一篇</a>-->
                            <!--</div>-->
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 button-pagination align-right">-->
                            <!--<a href="{$Think.config.GOTO}Home/Passages/showPassages/{$result['next']}"-->
                            <!--class="button big next">下一篇</a>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!-- /Pagination -->
                        </div>
                        <!-- /Single Blog Post -->
                        <!-- Related Articles -->
                        <div class="related-articles">
                            <h3 class="page-header animate-onscroll">
                                <i class="icon-bookmark">
                                </i>
                                更多动态
                                <a href="{$Think.config.GOTO}Home/News/showList/p/1" class="pull-right">
                                    More
                                </a>
                            </h3>
                            <div class="row">
                                <volist name="news" id="vo">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <!-- Blog Post -->
                                        <div class="blog-post animate-onscroll">
                                            <div class="post-image">
                                                <img src="{$vo.small_path}" alt=""/>
                                            </div>
                                            <h4 class="post-title">
                                                <a href="{$Think.config.GOTO}Home/News/showNews/{$vo.id}">
                                                    {$vo.title}
                                                </a>
                                            </h4>
                                            <div class="post-meta">
                                                <span>
                                                    作者：{$vo.author}
                                                </span>
                                                <span>
                                                    {$vo.time}
                                                </span>
                                            </div>
                                        </div>
                                        <!-- /Blog Post -->
                                    </div>
                                </volist>
                            </div>
                        </div>
                        <!-- /Related Articles -->
                    </div>
                </div>
            </section>
            <!-- /Section -->
        </section>
        <!-- Footer -->
        <footer id="footer">
            <!-- Main Footer -->
            <div id="main-footer">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 animate-onscroll">
                        <img src="{$Think.config.HOMETOOLS}img/logo.png" class="img-responsive center-block" style=" vertical-align:middle"/>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-2 animate-onscroll">
                        <ul class="list-unstyled">
                            <li>
                                地址：杭州市留和路318号浙江科技学院习得园C2楼
                            </li>
                            <li>
                                邮件：itee@zust.edu.cn
                            </li>
                            <li>
                                电话：0571-85070300
                            </li>
                            <li>
                                邮编：310023
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Main Footer -->
            <!-- Lower Footer -->
            <div id="lower-footer">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 animate-onscroll">
                        <p class="copyright text-center">
                            Copyright © 2012-2017 ZUST ITEE All Rights Reserved 浙江科技学院
                            信息与电子工程学院 版权所有
                        </p>
                    </div>
                </div>
            </div>
            <!-- /Lower Footer -->
        </footer>
        <!-- /Footer -->
        <!-- Back To Top -->
        <a href="#" id="button-to-top">
            <i class="icons icon-up-dir">
            </i>
        </a>
    </div>
    <!-- /Container -->
    <!-- JavaScript -->
    <!-- Bootstrap -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/modernizr.js"></script>
    <!-- Sliders/Carousels -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/owl.carousel.min.js"></script>
    <!-- Revolution Slider  -->
    <script type="text/javascript"
            src="{$Think.config.HOMETOOLS}js/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript"
            src="{$Think.config.HOMETOOLS}js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Calendar -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/responsive-calendar.min.js"></script>
    <!-- Raty -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/jquery.raty.min.js"></script>
    <!-- Chosen -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/chosen.jquery.min.js"></script>
    <!-- InstaFeed -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/instafeed.min.js"></script>
    <!-- MixItUp -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/jquery.mixitup.js"></script>
    <!-- JackBox -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}jackbox/js/jackbox-packed.min.js"></script>
    <!-- CloudZoom -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/zoomsl-3.0.min.js"></script>
    <!-- Main Script -->
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/script.js"></script>
    <script type="text/javascript" src="{$Think.config.HOMETOOLS}js/metismenu.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/script_ie.js"></script>
    <![endif]-->
</body>
</html>
